@media only screen and (min-width: 992px) {
    .recipe {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}


.bullet_point {
    font-weight: 1.5em;
    font-size: large;
}

.recipe p {
    margin-top: 20px;
    height: 50%;
}